.list-items {
    display: inline-block;
    font-size: 14px;
    width: 250px;
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

.link:hover {
    color: #03a9f4;
}

.outer-box {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    border: 50px;
}

.inner-box {
    display: inline-block;
    width: 500px;
    /* height: 300px; */
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    margin: 30px;
    padding: 20px;
}

.name {
    color: #626262;
    font-size: 25px;
    width: 406px;
    height: 29px;
}

.footer {
    padding-left: 507px;
    padding-top: 58px;
}

.button {
    width: 163px;
    height: 59px;
    background-color: white;
    text-align: center;
    color: #626262;
    font-size: 20px;
}

.text {
    color: #b4ad9e;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    width: 71px;
    height: 11px;
}

a {
    text-decoration: none;
    color: black;
}

@media(max-width: 991.98px) {
    .outer-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
    }
}