li{
    display: inline-block;
    font-size: 14px;
    width: 250px;
    font-family: 'Playfair Display', serif;
}
.outer-box{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    border: 50px;
    
}
.inner-box{
    display: inline-block;
    width: 400px;
    height: 300px;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    margin: 30px;
    padding: 20px;
}
.grey{
    color:dimgray;
}
.blue{
    color:dodgerblue;
}
.footer{
    width: 150px;
    height: 75px;
    left: 300px;
}
